<div th:fragment="stream(activity)">
    <div th:if="${activity != null}" class="p-4 rounded-xl shadow bg-white">
        <h2 class="text-xl font-semibold mb-4">Analysis</h2>
        <canvas id="activityLineChart" height="120"></canvas>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const heartRateData = /*[[${activity.getStreamAnalysisData("heartrate")}]]*/ [];
        const powerData = /*[[${activity.getStreamAnalysisData("watts")}]]*/ [];
        const timeData = /*[[${activity.getStreamAnalysisData("time")}]]*/ [];

        function getDataSets() {
            const dataSets = [];
            if (heartRateData.streamData.length > 0) {
                dataSets.push({
                    label: `Heart Rate - avg: ${heartRateData.average} max: ${heartRateData.max}`,
                    data: heartRateData.streamData,
                    borderColor: 'rgb(255, 99, 132)',
                    fill: false,
                    tension: 0.1
                });
            }
            if (powerData.streamData.length > 0) {
                dataSets.push({
                    label: `Power - avg: ${powerData.average} max: ${powerData.max}`,
                    data: powerData.streamData,
                    borderColor: 'rgb(54, 162, 235)',
                    fill: false,
                })
            }
            return dataSets;
        }

        const ctx = document.getElementById('activityLineChart').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: timeData.streamData.map(t => (t / 60).toFixed() + ' min'),
                datasets: getDataSets()
            },
            options: {
                elements: {
                    point: {
                        radius: 0,
                    }
                },
                responsive: true,
                interaction: {
                    mode: 'index',
                    intersect: false
                },
                plugins: {
                    tooltip: {
                        mode: 'index',
                        intersect: false
                    }
                },
                scales: {
                    x: {
                        title: { display: true, text: 'Time (minutes)' },
                        ticks: { maxTicksLimit: 10 }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        /*]]>*/
    </script>
</div>