<div th:fragment="splits(activity)">
    <table th:fragment="activitySplits" class="table">
        <thead>
        <tr>
            <th>Split</th>
            <th>Elapsed Time</th>
            <th>Pace zone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="split : ${activity.splitsMetric}" th:classappend="'shading-zone-' + ${split.paceZone}">
            <td th:text="${split.split}"></td>
            <td th:text="${@activityFormatter.formatDuration(split.elapsedTime)}"></td>
            <td th:text="${@activityFormatter.getPaceZone(split.paceZone)}"></td>
        </tr>
        </tbody>
    </table>
</div>