<div th:fragment="content">
    <div th:insert="~{activities :: activityTable}"></div>
    <div th:if="${totalPages > 1}">
        <ul class="pagination">
            <li th:if="${currentPage > 0}">
                <a th:href="@{/activities(page=${currentPage - 1})}">Previous</a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a th:href="@{/activities(page=${i})}" th:text="${i + 1}">1</a>
            </li>
            <li th:if="${currentPage < totalPages - 1}">
                <a th:href="@{/activities(page=${currentPage + 1})}">Next</a>
            </li>
        </ul>
    </div>
</div>