<div th:fragment="content">
    <p>With no from date selected, activities created before the current oldest activity will be synced, with a date selected activities created after that date will be synced.</p>
    <div class="row mb-3">
        <div class="col-md-3">
            <label for="totalPagesToSync">How many?</label>
            <select id="totalPagesToSync" class="form-select">
                <option value="1">30</option>
                <option value="2">60</option>
                <option value="3">90</option>
                <option value="4">120</option>
                <option value="5">150</option>
                <option value="6">180</option>
                <option value="7">210</option>
                <option value="8">240</option>
                <option value="9">270</option>
                <option value="10">300</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="fromDate">From</label>
            <input type="date" id="fromDate" class="form-control">
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <button id="syncActivitiesBtn"
                    class="btn btn-primary"
                    data-action="sync">
                Sync
            </button>

        </div>
    </div>
</div>