<table th:fragment="activityTable" class="table table-striped">
    <thead>
    <tr>
        <th>Start Date</th>
        <th>Name</th>
        <th>Distance</th>
        <th>Elapsed Time</th>
        <th>Elevation Gain</th>
        <th>Sport Type</th>
        <th>Average Watts</th>
        <th>Suffer Score</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="activity : ${activities}">
        <td th:text="${@activityFormatter.formatDateTime(activity.startDate)}"></td>
        <td><a th:href="@{/activity/{id}(id=${activity.id})}" th:text="${activity.name}"></a></td>
        <td th:text="${@activityFormatter.formatDistance(activity.distance)}"></td>
        <td th:text="${@activityFormatter.formatDuration(activity.elapsedTime)}"></td>
        <td th:text="${@activityFormatter.roundWithUnit(activity.totalElevationGain,'m')}"></td>
        <td th:text="${activity.sportType}"></td>
        <td th:text="${@activityFormatter.roundWithUnit(activity.averageWatts, 'w')}"></td>
        <td th:text="${activity.sufferScore}"></td>
    </tr>
    </tbody>
</table>
