<div th:fragment="content">
    <div class="text-center mb-4">
        <img th:src="${athlete.profile}" alt="Athlete Profile" class="profile-img">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg">
                <div th:replace="~{athlete/profile_details :: details}"></div>
            </div>
            <div class="col-lg">
                <div th:replace="~{athlete/stats :: stats}"></div>
            </div>
        </div>
    </div>
</div>
